{%extends 'base.html'%}
{% load static %}
{%block conteudo%}

<div style="position:absolute ;padding-top: 2%; left: 3%">

    <div class="card mb-3">
        <div class="row g-0">
            {% if livro.foto %}
            <div class="col-md-4">
                <img style="width:190px" src="{{ livro.foto.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-body">
                        <div style="display: flex; justify-content: space-between">
                            <h2>{{ livro.nome }} - </h2>
                            <p style="font-size: 15px">{{ livro.id }}</p>
                        </div>

                        <h4 style="padding-top: 1%">Status: {{ livro.status }}</h4>
                        <h4 style="padding-top: 1%">Raça: {{ livro.raca }}</h4>
                        <h4 style="padding-top: 1%">Tutor: {{ livro.tutor }}</h4>
                        <h4 style="padding-top: 1%">E-mail: {{ livro.email }}</h4>
                        <h4 style="padding-top: 1%">Contato: {{ livro.telefone }}</h4>
                        <h4 style="padding-top: 1%; display: none">CPF: {{ livro.cpf }} remover </h4>
                        <h4 style="padding-top: 1%; display: none">Endereço: {{ livro.email }} remover</h4>
                        <h4 style="padding-top: 1%">Data de acolhimento: {{ livro.data_acolhimento }}</h4>
                        <h4 style="padding-top: 1%">Histórico de cuidados: {{ livro.historico_medico }}</h4>
                        <h6>{{ livro.descricao }}</h6>
                        <a href="http://127.0.0.1:8000/admin/paginas/livros/{{ livro.id }}/change/">
                            <button type="button" class="btn btn-primary">Atualizar informações</button>
                        </a>
                        <!--                        <a href="#">-->
                        <!--                            <button type="button" class="btn btn-success">Favoritar</button>-->
                        <!--                        </a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
