{%extends 'base.html'%}
{% load static %}
{%block conteudo%}

<form style="max-width: 70%; padding-top:1%; position:relative; left:15%" class="d-flex" method="get" action="{% url 'buscar' %}">
    <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value="{{ request.GET.search }}">
    <button class="btn btn-outline-success" onclick="funcao1()" type="submit">Pesquisar</button>
</form>
<div style="position: absolute ;left: 15%; top: 25%;">

    <div class="card" style="width: 60rem">
        <div class="card-body">

            <!---------------------------------------------------------------------->
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                {% for id in plots.imgPlots.files %}

                <li data-target="#carouselExampleIndicators" data-slide-to="{{id}}"></li>
                {% endfor %}

                <div class="carousel-inner">
                    {% for livros in livros %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}"
                         data-bs-interval="10000 {% if forloop.first %} active{% endif %}"
                         style="position: relative; left: 25% ">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <a href="{% url 'ver_pet' livros.id %}"><img style="max-width:190px    "
                                                                                    src="{{ livros.foto.url }}"
                                                                                    class="d-block w-45"
                                                                                    alt="Livro Django"></a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{livros.nome}} - <a style="font-size:.8rem">id:
                                            {{livros.id}} </a></h5>
                                        <p class="card-text"
                                           style="overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:10;-webkit-box-orient: vertical; ">
                                            {{livros.descricao}}</p>

                                        <div style="position: relative; padding-top: 2%">
                                            <a href="#">
                                                <button type="button" class="btn btn-primary">Adicionar livro</button>
                                            </a>

<!--                                                nao esta funcionando    -->
<!--                                            <a href='{{ livros.pdfs.livro }}' download="Django_Book" class="btn btn-primary">Baixar PDF</a>-->

                                            <a style="padding-left:25%" href="{% url 'ver_pet' livros.id %}">
                                                <button type="button" class="btn btn-success">Ver mais...</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>

            <!---------------------------------------------------------------------->
        </div>
    </div>
</div>



{%endblock%}


<!--{%extends 'ver_pet.html'%}-->