{%extends 'base.html'%}
{% load static %}
{%block conteudo%}
<div style="position:absolute ;padding-top: 2%; left: 3%">
    <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'images/MinhaFoto.jpg' %}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Sobre mim</h5>
                    <p class="card-text">Cursando o segundo semestre de Ciência da Computação na universidade La
                        Salle.<br><br> Atualmente estou trabalhando na UFCSPA,desenvolvendo testes automatizados
                        utilizando a linguagem Python com a library Selenium</p>
                    <a href="https://www.linkedin.com/in/yan-magnan-303586155" target="_blank" class="btn btn-primary">Linkedin</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="position: absolute; left: 50%; top: 20%; ">

    <div class="card" style="width: 35rem; height: 25rem;">
        <div class="card-body">
            <!---------------------------------------------------------------------->
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                {% for id in plots.imgPlots.files %}

                <li data-target="#carouselExampleIndicators" data-slide-to="{{id}}"></li>
                {% endfor %}

                <div class="carousel-inner">
                    {% for livros in livros %}
                    <div class="carousel-item {% if forloop.first %} active{% endif %}"
                         data-bs-interval="10000 {% if forloop.first %} active{% endif %}"
                         style="position: relative; left: 30% ;width:40%;height:auto;">
                        <a href="{% url 'abre_livro' livros.id %}"><img src="{% static 'images/django.jpg'%}" class="d-block w-100"
                                          alt="Livro Django"></a>
                        <h5>{{livros.nome}}</h5>
                    </div>
                    {% endfor %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>

            <!---------------------------------------------------------------------->
        </div>
    </div>
</div>
{%endblock%}