{%extends 'base.html'%}
{% load static %}
{%block conteudo%}

<div class="card" style="max-width: 90%; position: relative; left: 5%;">
  <h5 class="card-header">Minha Coleção</h5>
  <div class="card-body">
    <div style="max-width: 60%;position: relative ;left: 20%; top: 50%;">
      <form class="d-flex" >
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" onclick="funcao1()" type="submit">Pesquisar</button>
      </form>
    </div>
    <!--------------------------------------------------------------------->
    <div style="position: relative; padding-top: 5%" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators" style="position: relative; top: 5%">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000" style="padding-left: 7%">

          <div class="row align-items-center">

            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/django.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Livro django</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="images/logo.png" download="login" class="btn btn-primary">Baixar PDF</a>
                  <a href="#"><button type="button" class="btn btn-danger">Remover</button></a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/django.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Livro django</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="images/logo.png" download="login" class="btn btn-primary">Baixar PDF</a>
                  <a href="#"><button type="button" class="btn btn-danger">Remover</button></a>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card" style="width: 18rem;">
                <img src="{% static 'images/django.jpg'%}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Livro django</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% static 'pdf/django.pdf'%}" download="Django_Book" class="btn btn-primary">Baixar PDF</a>
                  <a href="#"><button type="button" class="btn btn-danger">Remover</button></a>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="carousel-item" data-bs-interval="2000">
          <div class="carousel-caption d-none d-md-block">
            <h5>none</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>

        <div class="carousel-item">
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>

      </div>
      <div >
        <button style="position: absolute; left: -5%" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
      </div>
      <button style="position: absolute; left: 90%" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>




<script>
  function funcao1()
  {
    var x;
    var r=confirm("Função ainda não disponivel");
    document.getElementById("demo").innerHTML=x;
  }
</script>

{%endblock%}