{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="container_pet">

    <div class="card_pet">
        <a href="javascript:history.back()" style="padding-right: 15px">
            <button type="button" class="btn btn-primary">Voltar</button>
        </a>
        {% if pet.foto %}
        <div class="img-container">
            <img src="{{ pet.foto.url }}" alt="Imagem" style="height: 360px; border-radius: 5px"/>
        </div>
        {% endif %}
        <div class="card-text_pet">
            <div style="display: flex; justify-content: space-between">
                <h2>{{ pet.nome }} - {{ pet.status }}</h2>
                <p style="font-size: 15px">{{ pet.id }}</p>
            </div>
            <hr>
            <div>
                <div style="display: flex; justify-content: flex-start; align-items: baseline;justify-content: space-between; ">
                    <h5>Data de acolhimento: </h5>
                    <p style="font-size: 17px"> {{ pet.data_acolhimento }}</p>
                </div>
                <div style="display: flex; justify-content: flex-start; align-items: baseline; justify-content: space-between;">
                    <h5>Local de abrigo: </h5>
                    <p style="font-size: 17px;"> {{ pet.local_resgate }}</p>
                </div>
                <div style="display: flex; justify-content: flex-start; align-items: baseline;justify-content: space-between;">
                    <h5>Raça: </h5>
                    <p style="font-size: 17px"> {{ pet.raca }}</p>
                </div>
                <div style="display: flex; justify-content: flex-start; align-items: baseline;justify-content: space-between; ">
                    <h5>Histórico médico: </h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#historicoModal">Ver
                        detalhes
                    </button>
                </div>
            </div>

            <hr>
            <div style="display: flex; justify-content: space-between">
                <div class="accordion">
                    <button class="accordion-btn btn btn-primary" style="margin-bottom:15px ">Informações do tutor
                    </button>
                    <div class="accordion-content" style="display: none;">
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>Nome do tutor: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ pet.tutor }}</p>
                        </div>
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>Telefone: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ pet.telefone }}</p>
                        </div>
                        {% if request.user.is_superuser %}
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>E-mail: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ pet.email }}</p>
                        </div>

                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>CPF: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ pet.cpf }}</p>
                        </div>
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>Endereço: </h5>
                            <p style="font-size: 19px;padding-left: 15px"> {{ pet.endereco }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% if request.user.is_superuser %}
                <a href="/admin/paginas/pets/{{ pet.id }}/change/">
                    <button type="button" class="btn btn-primary">Atualizar informações</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="historicoModal" tabindex="-1" role="dialog" aria-labelledby="historicoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="historicoModalLabel">Histórico Médico</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">✖</span>
                </button>
            </div>
            <div class="modal-body">
                {{ pet.historico_medico }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion-btn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>

<script>
    // Função para mover o texto para baixo da imagem em dispositivos móveis e aplicar estilo à imagem
    function moveTextBelowImage() {
        var imgContainer = document.querySelector('.img-container');
        var cardTextPet = document.querySelector('.card-text_pet');
        var cardPet = document.querySelector('.card_pet');
        var img = imgContainer.querySelector('img');

        if (window.innerWidth <= 766) {
            // Se for um dispositivo móvel
            cardPet.style.flexDirection = "column";
            img.style.height = "360px";
            img.style.borderRadius = "5px";
            imgContainer.style.marginBottom = "20px";
            imgContainer.style.display = "flex";
            imgContainer.style.justifyContent = "center";
            cardTextPet.style.textAlign = "center";
        }
    }

    // Chama a função ao carregar a página e redimensionar a janela
    window.onload = moveTextBelowImage;
    window.onresize = moveTextBelowImage;
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
