{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="container_pet">
    {% if livro.foto %}
    <div class="card_pet">
        <div>
            <img style="height: 360px" src="{{ livro.foto.url }}" alt="Imagem"/>
        </div>
        <div class="card-text_pet">
            <div style="display: flex; justify-content: space-between">
                <h2>{{ livro.nome }} - {{ livro.status }}</h2>
                <p style="font-size: 15px">{{ livro.id }}</p>
            </div>
            <hr>
            <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                <h5>Data de acolhimento: </h5>
                <p style="font-size: 17px"> {{ livro.data_acolhimento }}</p>
            </div>
            <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                <h5>Raça: </h5>
                <p style="font-size: 17px"> {{ livro.raca }}</p>
            </div>
            <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                <h5>Histórico médico: </h5>
                <p style="font-size: 17px"> {{ livro.historico_medico }}</p>
            </div>
            <hr>
            <div style="display: flex; justify-content: space-between">
                <div class="accordion">
                    <button class="accordion-btn btn btn-primary" style="margin-bottom:15px ">Informações do tutor
                    </button>
                    <div class="accordion-content" style="display: none;">
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>Nome do tutor: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ livro.tutor }}</p>
                        </div>
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>E-mail: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ livro.email }}</p>
                        </div>
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>Telefone: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ livro.telefone }}</p>
                        </div>
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>CPF: </h5>
                            <p style="font-size: 19px; padding-left: 15px"> {{ livro.cpf }}</p>
                        </div>
                        <div style="display: flex; justify-content: flex-start; align-items: baseline; ">
                            <h5>Endereço: </h5>
                            <p style="font-size: 19px;padding-left: 15px"> {{ livro.endereco }}</p>
                        </div>
                    </div>
                </div>
                {% if request.user.is_superuser %}
                <a href="/admin/paginas/pets/{{ livro.id }}/change/">
                    <button type="button" class="btn btn-primary">Atualizar informações</button>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion-btn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
</script>
{% endblock %}
<style>
    /* Estilos para dispositivos móveis */
    @media only screen and (max-width: 600px) {
        .container_pet {
            width: 100%;
            padding: 0 10px; /* Adicione espaço nas laterais */
        }

        .card_pet {
            width: 100%; /* Ocupa toda a largura do dispositivo */
            border-radius: 0; /* Remove o raio da borda */
            box-shadow: none; /* Remove a sombra */
        }

        .card-text_pet {
            padding: 10px 0; /* Adicione espaço interno */
        }
    }
</style>
